body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 10px solid grey;
    
    
}

#gameContainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
}

#ui-elements {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

#playerInfo {
    position: absolute;
    top: 200px;
    left: -5px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-right: 40px;
    border: #f0f0f0 solid 3px;
    border-radius: 20px;
    list-style: none;
}

#P1, #P2 {
    transition: scale 0.3s ease, color 0.3s ease;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 20px;
    font-size: 20px;
}

#P1 {
    color: #71E700FF;
}

#P2 {
    color: white;
}

#pauseMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(97, 125, 136, 0.8);
    color: white;
    padding: 100px 250px;
    border: #f0f0f0 solid 5px;
    border-radius: 40px;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    display: none;
}

#Message {
    font-size: 50px;
}

#resumeButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: #f0f0f0 solid 3px;
    border-radius: 25px;
    background: transparent;
    font-size: 16px;
    color: white;
    cursor: pointer;
    pointer-events: none;
    font-size: 50px;
}

#restartButton, #pauseButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: #f0f0f0 solid 3px;
    border-radius: 20px;
    background: transparent;
    font-size: 50px;
    color: white;
    cursor: pointer;
    pointer-events: all;
}

#resumeButton:hover, #restartButton:hover, #pauseButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    scale: 1.2;
}

#gameModeSwitch {
    position: absolute;
    top: 400px;
    left: -20px;
}

#modeButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: #f0f0f0 solid 3px;
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

#modeButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    scale: 1.05;
}

#modeButton.pvp {
    background-color: rgba(113, 231, 0, 0.3);
    border-color: #71E700FF;
}

#modeButton.pvc {
    background-color: rgba(4, 39, 231, 0.3);
    border-color: #0427E7FF;
}