body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

#ui-elements {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

#playerInfo {
    position: absolute;
    top: 100px;
    left: 0px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 40px;
    border: #f0f0f0 solid 3px;
    border-radius: 10px;
    list-style: none;
}

#P1, #P2 {
    transition: scale 0.3s ease, color 0.3s ease;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 20px;
}

#P1 {
    color: #71E700FF;
}

#P2 {
    color: white;
}

#pauseMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(97, 125, 136, 0.8);
    color: white;
    padding: 150px;
    border: #f0f0f0 solid 5px;
    border-radius: 40px;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    display: none;
}

#resumeButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: #f0f0f0 solid 3px;
    border-radius: 10px;
    background: transparent;
    font-size: 16px;
    color: white;
    cursor: pointer;
    pointer-events: none;
}

#restartButton, #pauseButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: #f0f0f0 solid 3px;
    border-radius: 10px;
    background: transparent;
    font-size: 16px;
    color: white;
    cursor: pointer;
    pointer-events: all;
}

#resumeButton:hover, #restartButton:hover, #pauseButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    scale: 1.05;
}