body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 10px solid grey;    
}

#gameContainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
}

#ui-elements {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    pointer-events: all;
}

#pauseMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #475557;
    color: white;
    padding: 100px 250px;
    border-radius: 20px;
    opacity: 0;
    text-align: center;
    pointer-events: auto;
    display: none;
}

#Message {
    font-size: 25px;
    white-space: nowrap;
    letter-spacing: 20px;
    transform: translateY(-70px);
}

#resumeButton {
    margin-top: 10px;
    border: solid;
    border-radius: 10px;
    padding: 20px;
    background: transparent;
    font-size: 36px;
    color: white;
    cursor: pointer;
    pointer-events: auto;
    letter-spacing: 15px;
    white-space: nowrap;
    transition: all 0.5s ease;
    text-shadow: black 1px 10px 15px;
    visibility: visible;
}

#restartButton {
    margin-top: 40px;
    border: solid;
    border-radius: 10px;
    padding: 20px;
    background: transparent;
    font-size: 36px;
    color: white;
    cursor: pointer;
    pointer-events: auto;
    letter-spacing: 12px;
    white-space: nowrap;
    transition: all 0.5s ease;
    text-shadow: black 1px 10px 15px;
}

#pauseButton {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    border: #f0f0f0 solid 3px;
    border-radius: 10px;
    background: transparent;
    font-size: 50px;
    color: white;
    cursor: pointer;
    pointer-events: all;
}

#pauseButton:hover {
    scale: 1.2;
    transition: all 0.5s ease;
}

#restartButton:hover {
    scale: 1.2;
}

#resumeButton:hover {
    scale: 1.2;
}

#startMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F0C208;
    padding: 15em;
    opacity: 1;
    border-radius: 20px;
    pointer-events: all;
}

#startButton {
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    cursor: pointer;
    pointer-events: all;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 15px;
    white-space: nowrap;
    transition: all 0.5s ease;
    text-shadow: black 1px 10px 15px;
}

#modeBtn {
    padding-top: 50px;
    border: none;
    background: transparent;
    font-size: 15px;
    color: white;
    cursor: pointer;
    pointer-events: all;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 15px;
    white-space: nowrap;
    transition: all 0.5s ease;
    text-shadow: black 1px 10px 15px;
}

#startButton:hover {
    scale: 1.2;
}

#modeBtn:hover {
    scale: 1.2;
}

#gameModeIndicator {
    position: absolute;
    border: solid;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: white;
    padding: 1em 5em;
    opacity: 1;
    border-radius: 10px;
    pointer-events: all;    
}

#currentPlayer {
    color: wheat;
    scale: 1;
    font-size: 30px;
    letter-spacing: 10px;
    white-space: nowrap;
}